.company-info-modal .MuiGrid-container {
  border-bottom: solid #00000038 1px;
  margin: 40px auto;
}
.company-info-modal .MuiGrid-container::before {
  content: "";
  border-right: solid #3f51b5 7px;
}
.company-info-modal {
  padding: 20px 0;
  overflow: hidden;
  font-size: 20px;
}
.company-info-modal .MuiGrid-grid-xs-8 {
  font-weight: bold;
}
